/*++ base.html ++*/

body {
	background-color: #ffffff !important;
	padding-top: 60px;
	padding-bottom: 40px;
}

.navbar-inner {
	padding-top: 3px;
}

.navbar-account .nav, .navbar-account .dropdown-toggle {
	margin-right: 0px !important;
	padding-right: 0px !important;
}

#login_username_inline, #login_password_inline {
	width: 100px;
}

.btn-small {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.search-query {
	width: 150px;
}

.inline-login {
	float: left;
	margin-left: 3px;
}

.formcontent {
	margin: auto;
	width: 400px;
}

.messagebox {
	display: none;
}

.input-group {
	width: 100%;
}

.interest-group {
	margin-left: 35px;
}

.input-interest {
	margin: 0px 3px 0px 0px !important;
}

.well-input {
	margin: 0;
}

.label-input {
	margin-bottom: 7px;
}

.maincontain {
	padding-top: 40px;
}

/*-- End base.html --*/


/*++ user_cpanel.html ++*/

.profilebox {
	
}

.profileimagewrap {
	width: 65px;
}

.profileimage {
	display: block;
	margin: auto;
	width: 25px;
}

.profilename, .profilename > span {
	width: 100%;
	margin: auto;
	text-align: center;
	color: #999999;
}

.editicon-left {
	opacity: 0.0;
	margin-right: 2px;
}

.editicon-right {
	opacity: 0.0;
	margin-left: 2px;
}

#first_name, #last_name {
	font-size: 42px;
}

.info-image {
	width: 70px;
	height: 130px;
	float: left;
}

.info-name {
	float: left;
	padding-top: 20px;
}

.infoblock {
	float: left;
	width: 98%;
}

.fileupload {
	width: 70px;
}

.fileupload-new.thumbnail {
	margin-left: auto;
	margin-right: auto;
}

.fileupload-new > .fileupload-new.thumbnail {
	display: block;
}

.fileupload-preview.thumbnail {
	margin-left: auto;
	margin-right: auto;
}

.fileupload-exists > .fileupload-preview.thumbnail {
	display: block;
}

.progress-wrapper {
	font-size: 40px;
}

.progress-icon {
	float: left;
	width: 50px !important;
	text-align: right;
}

.progress-text {
	float: left;
	width: 125px;
	font-size: 20px;
	text-align: left;
	margin-top: 10px;
	margin-left: 5px;
}

.bar {
	text-align: center;
	font-weight: bolder;
	width: 3% !important;
}

.bar-wrapper {
	padding-top: 10px;
}

.account-tabs > .nav-tabs {
	margin-right: 0px !important;
}

/*-- End user_account.html --*/


/*++ Bootstrap Custom ++*/

.label-science, .badge-science, .bar-science {
	background-color: #468847 !important;
}

.label-technology, .badge-technology, .bar-technology {
	background-color: #3a87ad !important;
}

.label-engineering, .badge-engineering, .bar-engineering {
	background-color: #f89406 !important;
}

.label-art, .badge-art, .bar-art {
	background-color: #7a00cc !important;
}

.label-math, .badge-math, .bar-math {
	background-color: #b94a48 !important;
}

/*-- End Bootstrap Custom --*/


/*++ QTip2 ++*/

.qtip {
	max-width: 400px !important;
}

.qtip-steam {
	color: #ffffff !important;
	background-color: #006dcc !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

/*-- End QTip2 --*/