/*++ base.html ++*/

body {
	background-color: #ffffff !important;
	padding-top: 60px;
	padding-bottom: 40px;
}

.navbar-inner {
	padding-top: 3px;
}

.navbar-account .nav, .navbar-account .dropdown-toggle {
	margin-right: 0px !important;
	padding-right: 0px !important;
}

.profilebox {
	
}

.profileimagewrap {
	width: 65px;
}

.profileimage {
	display: block;
	margin: auto;
	width: 25px;
}

.profilename, .profilename > span {
	width: 100%;
	margin: auto;
	text-align: center;
	color: #999999;
}

.editicon {
	opacity: 0.0;
	padding-right: 2px;
}

#profile-name {
	font-size: 30px;
}

.account-tabs > .nav-tabs {
	margin-right: 0px !important;
}

.inline-login {
	float: left;
	margin-left: 3px;
}

.formcontent {
	margin: auto;
	width: 400px;
}

.messagebox {
	display: none;
}

.input-group {
	width: 100%;
}

.interest-group {
	margin-left: 35px;
}

.input-interest {
	margin: 0px 3px 0px 0px !important;
}

.well-input {
	margin: 0;
}

.label-input {
	margin-bottom: 7px;
}

.maincontain {
	padding-top: 40px;
}

/*-- End base.html --*/


/*++ Bootstrap Custom Labels/Badges ++*/

.label-science, .badge-science {
	background-color: #468847 !important;
}

.label-technology, .badge-technology {
	background-color: #3a87ad !important;
}

.label-engineering, .badge-engineering {
	background-color: #f89406 !important;
}

.label-art, .badge-art {
	background-color: #7a00cc !important;
}

.label-math, .badge-math {
	background-color: #b94a48 !important;
}

/*-- End Bootstrap Custom Labels/Badges --*/


/*++ QTip2 ++*/

.qtip {
	max-width: 400px !important;
}

.qtip-steam {
	color: #ffffff !important;
	background-color: #006dcc !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

/*-- End QTip2 --*/